@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@mixin flex($justify_content, $align_items, $flex_direction) {
    display: flex;
    justify-content: $justify_content;
    align-items: $align_items;
    flex-direction: $flex_direction;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Ubuntu', sans-serif;

    ion-icon {
        font-size: 1.5em;
        margin-right: 25px;
        color: #fff;
    }
    
    body {

        ::selection {
            background-color: #2471ee;
            color: #fff
        }

        @include flex(center, center, row);
        position: relative;
        
        .container {
            width: 100vw;
            height: 100vh;
            position: relative;

            .navbar-container {
                padding: 5px 15px;
                ul {
                    @include flex(space-between, center, row);

                    .hamb {
                        margin: 10px;
                        cursor: pointer;
                        position: relative;
                        width: 30px;
                        height: 30px;
                        border-radius: 10%;

                        span {
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 3px;
                            border-radius: 30px;
                            background-color: #000;
                            transition: .25s ease-in-out;

                            &:nth-child(1) {
                                top: 0px;
                            }
                            
                            &:nth-child(2) {
                                top: 8px;
                            }
                            
                            &:nth-child(3) {
                                top: 16px;
                            }
                        }

                        &.active {
                            span {
                                &:nth-child(1) {
                                    transform: rotate(-45deg);
                                    top: 8px;
                                }
                                
                                &:nth-child(2) {
                                    display: none;
                                }
                                
                                &:nth-child(3) {
                                    transform: rotate(45deg);
                                    top: 8px;
                                }
                            }
                        }
                    }
    
                    .search-bar {
                        .inpt {
                            padding-left: 35px;
                            width: 25vw;
                            height: 35px;
                            border-radius: 20px;
                            background: url(../img/search-outline.svg) no-repeat 5px center;
                            background-size: 20px;
                            outline: none;
                            border: 2px solid rgb(177, 177, 177);

                            &::placeholder {
                                color: rgb(121, 121, 121);
                            }
                        }
                    }

                    .img-account {
                        background: url(../img/joji\ album\ cape.jpg) no-repeat;
                        background-size: contain;
                        width: 35px;
                        height: 35px;
                        border-radius: 25px;
                    }
                }
            }

            .views {
                width: 100%;
                margin: 15px 0px 20px 0px;
                @include flex(space-around, center, row);
                padding: 0 8px;
                a {
                    text-decoration: none;
                    article {
                        @include flex(space-between, center, row);
                        width: 260px;
                        height: 100px;
                        border-radius: 15px;
                        background-color: #fff;
                        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
                        transition: .4s;
                        cursor: pointer;

                        .txt {
                            margin: 0px 0px 0px 20px;

                            h4 {
                                font-weight: 500;
                                color: #297BFF;
                                font-size: 2em;
                            }
                            
                            p {
                                font-weight: 500;
                                color: rgba(112, 112, 112, 0.699);
                                font-size: .8em;
                            }
                        }

                        ion-icon {
                            color: rgb(146, 146, 146);
                            font-size: 2.5em;
                        }

                        &:hover {
                            background-color: #2b7cff;
                            .txt {
                                h4 {
                                    color: #FFF;
                                }
                                p {
                                    color: rgb(214, 214, 214);
                                }
                            }

                            ion-icon {
                                color: #fff;
                            }
                        }
                    }
                }
                
                &.active {
                    article {
                        width: 240px;
                    }
                }
            }

            .main-content {
                width: 100%;
                height: calc(100vh - 33vh);
                position: relative;
               
                .dashboard {
                    width: 100%;
                    height: calc(100vh - 33vh);
                    @include flex(space-around, center, row);

                    .orders {
                        position: relative;
                        width: 55vw;
                        height: 100%;
                        border-radius: 15px;
                        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
                        background-color: #FFF;
                        transition: .4s;

                        .title {
                            width: 100%;
                            height: 50px;
                            @include flex(space-between, center, row);
                            padding: 0px 15px;

                            .recent {
                                width: 170px;
                                color: #297BFF;
                            }

                            .btn-view {
                                border-radius: 5px;
                                padding: 4px 8px;
                                background-color: #297BFF;
                                color: #fff;
                                border: none;
                                cursor: pointer;

                                &:hover {
                                    background-color: #2067da;
                                }
                            }
                        }
                        
                
                        .order-title {
                            @include flex(space-between, center, row);
                            position: relative;
                            margin: 5px 0px;
                            
                            .cont1 {
                                @include flex(space-between, center, row);
                                width: 55%;
                                padding: 0px 20px;

                                .name {
                                    font-size: 0.9em;
                                    font-weight: 600;
                                }

                                .price {
                                    font-size: 0.9em;
                                    font-weight: 600;
                                }
                            }
                            
                            .cont2 {
                                @include flex(space-between, center, row);
                                width: 45%;
                                padding: 0px 10px;

                                .payment {
                                    font-size: 0.9em;
                                    font-weight: 600;
                                }

                                .status {
                                    padding: 0px 20px;
                                    font-size: 0.9em;
                                    font-weight: 600;
                                }
                            }
                        }

                        ul {
                            position: absolute;
                            bottom: 0;
                            height: calc(100% - 80px);
                            width: 100%;
                            overflow-y: scroll;
                            
                            &::-webkit-scrollbar {
                                width: 10px ;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: #297BFF;
                                border-radius: 20px
                            }

                            .order {
                                @include flex(space-between, center, row);
                                position: relative;
                                border-bottom: 1px solid rgba(121, 121, 121, 0.425);
                                margin: 10px 20px;
                                
                                .cont1 {
                                    @include flex(space-between, center, row);
                                    width: 55%;
                                    margin: 0px 0px 10px 0px;

                                    .name {
                                        font-size: 0.9em;
                                        font-weight: 500;
                                    }
        
                                    .price {
                                        font-size: 0.9em;
                                        font-weight: 500;
                                        padding: 0px 16px 0px 0px
                                    }
                                }
                                
                                .cont2 {
                                    @include flex(space-between, center, row);
                                    width: 45%;
                                    margin: 0px 0px 10px 0px;

                                    .payment {
                                        font-size: 0.9em;
                                        font-weight: 500;
                                        padding: 0 0 0 35px;
                                    }
        
                                    .status {
                                        font-size: 0.9em;
                                        font-weight: 500;
                                        padding: 2px 5px;
                                        border-radius: 5px;
                                        color: #fff;
                                        background-color: #8EE025;
                                    }
                                }
                            }

                            .order.pending {
                                .status {
                                    background-color: #F9C93E;
                                }
                            }

                            .order.return {
                                .status {
                                    background-color: #DF0101;
                                }
                            }

                            .order.in-progress {
                                .status {
                                    background-color: #2C90C1;
                                }
                            }
                        }

                        &.active {
                            width: 47vw;
                            height: 100%;
                        }
                    }

                    .recent-customers {
                        border-radius: 15px;
                        width: 30vw;
                        height: 100%;
                        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
                        background-color: #FFF;
                        position: relative;

                        .title {
                            @include flex(left, center, row);
                            padding: 0px 15px;
                            height: 50px;
                            width: 100%;
                            color: #297BFF;
                            font-size: 1.5em;
                            font-weight: 600;
                        }

                        ul {
                            height: calc(100% - 50px);
                            width: 100%;
                            position: absolute;
                            overflow-y: scroll;

                            &::-webkit-scrollbar {
                                width: 10px ;
                            }

                            &::-webkit-scrollbar-thumb {
                                background-color: #297BFF;
                                border-radius: 20px
                            }

                            .costumer {
                                padding: 13px 20px;
                                border-radius: 40px;
                                margin: 0px 10px;
                                cursor: pointer;
                                @include flex(left, center, row);
        
                                article {
                                    .pic {
                                        content: '';
                                        height: 35px;
                                        width: 35px;
                                        border-radius: 25px;
                                        background-color: black;
                                    }

                                    .pic.p1 {
                                        background-image: url(../img/p1.jpg);
                                        background-size: cover;
                                    }
                                    .pic.p2 {
                                        background-image: url(../img/p2.jpg);
                                        background-size: cover;
                                    }
                                    .pic.p3 {
                                        background-image: url(../img/p3.jpg);
                                        background-size: cover;
                                    }
                                    .pic.p4 {
                                        background-image: url(../img/p4.jpg);
                                        background-size: cover;
                                    }
                                    .pic.p5 {
                                        background-image: url(../img/p5.jpg);
                                        background-size: cover;
                                    }
                                    .pic.p6 {
                                        background-image: url(../img/p6.jpg);
                                        background-size: cover;
                                    }
                                    .pic.p7 {
                                        background-image: url(../img/p7.jpg);
                                        background-size: cover;
                                    }
                                }
        
                                .txt {
                                    margin: 0px 15px;
                                    p {
                                        font-weight: 500;
                                        font-size: 0.8em;
                                        color: rgb(128, 128, 128);
                                    }
                                }

                                &:hover {
                                    background-color: #2b7cff;

                                    .txt {
                                        h5 {
                                            color: #FFF;
                                        }
                                        p {
                                            color: rgb(214, 214, 214);
                                        }
                                    }
                                }
                            }

                        }
                    }

                    &.active {
                        .orders {
                            width: 48vw;
                        }
                    }
                }

                .insights {
                    @include flex(space-evenly, center, row);
                    width: 100%;
                    height: calc(100vh - 33vh);
                    position: relative;
                    
                    .chart-box-bar {
                        @include flex(center, center, row);
                        border-radius: 15px;
                        background-color: #fff;
                        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
                        width: 55%;
                        height: 85%;

                        .chart {
                            width: 90%;
                        }
                    }

                    .chart-box-pie {
                        @include flex(center, center, row);
                        border-radius: 15px;
                        background-color: #fff;
                        box-shadow: 0 7px 25px rgba(0,0,0,0.08);
                        width: 30%;
                        height: 85%;
                        position: inherit;

                        .chart {
                            width: 80%;

                            h2 {
                                text-align: center;
                                margin-bottom: 5px;
                                font-size: 0.8em;
                                font-weight: 600;
                                color: rgb(77, 77, 77);
                            }

                            .pie-chart {
                            }
                        }
                    }
                    //nao esta funcionando active para insights
                    &.active {
                        .chart-box-bar {
                            height: 70%;
                        }

                        .chart-box-pie {
                            height: 80%;
                        }
                    }
                }
            }
        }

        aside#menu  {
            width: 75px;
            height: 100vh;
            background-color: #297BFF;
            transition: .5s;
            .navbar {
                border-left: 10px solid #297BFF;

                .logo {
                    @include flex(left, center, row);
                    margin: 10px 0px 40px 15px;

                    .icon {
                        position: relative;
                        display: block;
                        min-width: 60px;
                        text-align: start;
                    }

                    h4 {
                        color: #fff;
                        white-space: nowrap;
                    }
                }

                ul {
                    a.opc {
                        padding: 12px 15px;
                        width: 100%;
                        @include flex(left, center, row);
                        position: relative;
                        cursor: pointer;
                        text-decoration: none;
                       
                        .icon {
                            position: relative;
                            display: block;
                            min-width: 60px;
                            text-align: start;
                        }

                        .txt {
                            color: #fff;
                            font-weight: 400;
                            white-space: nowrap;
                            overflow-x: hidden;
                        }

                        &:hover {
                            background-color: #fff;
                            border-top-left-radius: 30px;
                            border-bottom-left-radius: 30px;

                            .txt {
                                color: #297BFF;
                            }
                            
                            ion-icon {
                                color: #297BFF;
                            }
                        }
                    }
                }
            }

            &.active {
                width: 20vw;
            }
        }
    }
}